* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    padding: 20px;
    background-color: #181818;
    color: #f0f0f0;
    font-family: sans-serif;
    display: flex;
    height: 100vh;

    overflow-y: hidden;
    overflow-x: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

    height: 100%;
    width: 180px;
    padding: 10px;
    background: #222;
    border-radius: 12px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
    scrollbar-width: none;

    overflow-y: scroll;
    overflow-x: hidden;

}

.card {
    position: relative;
    color: rgb(197, 197, 197);
    width: 70px;
    height: 70px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #2d2d2d;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease;
}

.card:hover {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.2);
}

.card.active {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

.card span {
    font-size: 10px;
    color: black;
    position: absolute;
    transform: translate(0px, 25px);
}

.card-select-dir span {
    font-size: 22px;
    color: #bdbdbd;
    transform: translate(0px, -5px);
}

.card .card-info {
    display: none;
    left: 0;
    top: 0;
    padding: 10px;
    transform: translate(220px, 20px);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 100;
    font-size: 15px;
    white-space: pre-line;

    border-radius: 8px;
    max-width: calc(100vw - 240px);
    max-height: calc(100vh - 40px);
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;

    background-color: #2d2d2d;
}

.card:hover .card-info {
    display: inline;
}

.card img {
    width: 90%;
    height: 90%;

    border-radius: 8px;
    object-fit: cover;
    transition: 0.2s;
}

.card:hover img {
    filter: brightness(1.1);
    transition: 0.2s;
}

.controllers {
    margin-left: 20px;

    height: 100%;
    width: calc(100vw - 240px);
    padding: 15px;
    background: #222;
    border-radius: 12px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
    scrollbar-width: none;

    overflow-y: hidden;
    overflow-x: hidden;
}


.label-title {
    color: #bdbdbd;
}

.label-value {
    color: #bdbdbd;
    padding-left: 10px;
}

.cards:hover~.controllers {
    opacity: 0.5;
    transition: opacity 0.2s ease;
}


.device-controllers {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sliders {
    height: 215px;
    padding-right: 10px;
    overflow-y: auto;
    scrollbar-color: #000000 #3a3a3a; 
    scrollbar-width: thin; 
}

.slider {
    appearance: none;
    width: 100%;
    height: 4px;
    background: #3a3a3a;
    border-radius: 2px;
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
    transform: translate(0px, -3px);
}

.advanced-setting-button {
    color: #bdbdbd;
}

.advanced-setting-button input {
    margin-right: 5px;
}

.select {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #2d2d2d;
    color: #bdbdbd;
    border: 1px solid #333;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.speaker-controller {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 35px 1fr;
}

.select.speaker-select {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 100%;
    height: 35px;
}

.speaker-controller .description {
    grid-row: 1 / 3;
    grid-column: 2 / 3;

    color: #bdbdbd;
    background-color: #2d2d2d;
    font-size: 13px;
    margin-left: 25px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: calc(100vw - 500px);
    height: calc(100vh - 410px);
    white-space: pre-line;

    scrollbar-width: none;
    overflow-y: scroll;
}

.speaker-portrait {
    position: relative;

    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: block;
    margin: auto;
    padding-top: 10px;
}

.speaker-portrait img {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
}

.speaker-portrait img:hover {
    filter: brightness(0.9);
}

.speaker-portrait-description {
    display: none;
    grid-row: 1 / 3;
    grid-column: 2 / 3;

    color: #bdbdbd;
    background-color: #3a3a3a;
    font-size: 13px;
    margin-left: 25px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: calc(100vw - 500px);
    height: calc(100vh - 410px);
    white-space: pre-line;
    z-index: 100;

    scrollbar-width: none;
    overflow-y: scroll;
}

.speaker-portrait:hover+.speaker-portrait-description {
    display: inline;
    white-space: pre-line;
}